[General]
debug = True
log_level = info

[Database]
db_name = collab_connect_db
db_user = root
db_password = ** Put in your password here! **
db_host = localhost
db_port = 3306
db_cursorclass = DictCursor