[General]
debug = True
log_level = info

[Database]
db_name = collab_connect_db
db_user = root
db_password = ** Put in your password here! **
db_host = localhost
db_port = 3306
db_cursorclass = DictCursor

[Email]
smtp_server = smtp.gmail.com
smtp_port = 587
sender_email = ** your email here (e.g., your-app@gmail.com) **
sender_password = ** your app password here (for Gmail, use App Password not regular password) **

[OpenAI]
api_key = ** your api key here, if you choose to use it! **
