@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
    /* Base font size for 1080p and below */
    font-size: 16px;
}

/* 1440p scaling */
@media screen and (min-width: 2560px) {
    html {
        font-size: 24px; /* 1.5x scaling */
    }
}

/* 4K scaling - needs to be almost 2x */
@media screen and (min-width: 3840px) {
    html {
        font-size: 32px; /* 2x scaling for 4K */
    }
}

/* 5K and above */
@media screen and (min-width: 5120px) {
    html {
        font-size: 40px; /* 2.5x scaling */
    }
}

body,
#root {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    min-height: 100vh;
}

.content {
    flex: 1;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px
}

/* Track for the Scoll Bar */

::-webkit-scrollbar-track {
    background: #e0e0e0 ;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-track:hover{
    background: #555;
}